body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #222;
    margin: 0;
    color: white;
    line-height: 20px;
}

body::-webkit-scrollbar {
    width: 20px;
}

body::-webkit-scrollbar-track {
    background: #111;        /* color of the tracking area */
  }

body::-webkit-scrollbar-thumb {
    background-color: gray;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #111;  /* creates padding around scroll thumb */
}

h1 {
    text-align: center;
    margin: 0;
}

.feed {
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.ytbtnformat{
    display: inline-flex;

}

.twtbtnformat{
    display: inline-flex;

}

#embed{
    border: 0;
    margin: 0;
}

.stickyheader{
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    border-radius: 20px;
    background-color: #111;
    margin-bottom: 20px;
    padding: 20px;
    height: 50px;
    z-index: 1;
}


.sidebar {
    color: white;
}

.sidebar::-webkit-scrollbar {
    width: 12px;
}

.sidebar::-webkit-scrollbar-track {
    background: #111;        /* color of the tracking area */
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: gray;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #111;  /* creates padding around scroll thumb */
}

html {
    scroll-behavior: smooth;
}

#xyz{
    font-size: 25px;
    display: inline-block;
}

.feedFilter {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 300px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 10; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 20px;
}

.addCreator {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 300px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 10; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 20px;
}

.feedFilter::-webkit-scrollbar {
    display: none;
}

.addCreator::-webkit-scrollbar {
    display: none;
}


.csscard{
    width: 960px;
    height: 540px;
    margin: auto;
    padding: 12px;
    border-radius: 10px 10px;
    box-shadow: 3px 10px 10px gray;
    margin-bottom: 20px;
    background-color: white;
}

input {
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    display: block;
    text-align: center;
}

button {
    background-color: white;
    color: #111;
    transition-duration: 0.3s; 
    font-weight: bold;
    padding: 10px;
    border: 0px;
    outline: none;
    padding-left: 128px;
    padding-right: 128px;
    margin: auto;
    display: block;
}

button:hover {
    background-color: #111;
    color: white;
}

.searchResult {
    background-color: #111;
    padding: 5px;
    padding-left: 20px;
    border: white solid 2px;
    margin-bottom: 10px;
}

table {
    border: white solid 2px;
}

input[type='checkbox'] {
    float: left;
    width: 40px;
    margin-bottom: 20px;
  }
  input[type='checkbox'] + label {
    display: block;
    width: 200px;
    margin-bottom: 18px;
  }

.about {
    font-size: 14px;
    padding: 20px;
    color: white;
    background-color: rgb(10, 10, 10);
    margin-top: 40px;
    width: 100%;
    display: block;
    margin-left: -20px;
}

.scrollButton {
    position: sticky;
    top: 90px;
    display: none;
    border-left: solid #111 4px;
    border-bottom: solid #111 4px;
    border-right: solid #111 4px;
    z-index: 5;
}

#toast{
    visibility: hidden; 
    min-width: 250px; 
    margin-left: -200px; 
    background-color: #333; 
    color: #fff; 
    text-align: center; 
    border-radius: 2px; 
    padding: 16px; 
    position: fixed; 
    z-index: 1; 
    left: 50%; 
    bottom: 30px; 
  }

#toast.show{
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.twitter-tweet {
    margin: auto;
}

@-webkit-keyframes fadein{
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }

@keyframes fadein{
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout{
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout{
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.emptyMessage{
    font-size: 16px;
    margin-left: 12px;
}
a {
    color: cyan;
}

a:visited {
    color: cyan;
}
