body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

.feed {
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.sidebar {
    border-style: solid;
    border-width: 1px;
    margin-left: auto;
    width: 15%;
    padding: 20px;
}

.csscard{
    width: 50.5%;
    height: fit-content;
    margin: 0 auto;
    padding: 12px;
    border: black solid 1px;
    border-radius: 10px 10px;
    box-shadow: 3px 10px 10px gray;
}