body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f1f0f0;
}

h1 {
    text-align: center;
}

.feed {
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

#embed{
    border: 0;
    margin: 0;
}


.sidebar {
    color: black;
}

.feedFilter {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #e6e6e6; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 20px;
}

.addCreator {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #e6e6e6; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 20px;
}

.csscard{
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    padding: 12px;
    border: black solid 1px;
    border-radius: 10px 10px;
    box-shadow: 3px 10px 10px gray;
}

input {
    padding: 10px;
}

button {
    background-color: #111;
    color: white;
    transition-duration: 0.3s; 
    font-weight: bold;
    padding: 10px;
    border: 0px;
    outline: none;
}

button:hover {
    background-color: white;
    color: #111;
}